<% if comment.persisted? %>
  <div class="comment-box">
    <p>
      <strong>Name:</strong>
      <%= comment.commenter %>
    </p>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
    <%= link_to "Show Comment", article_comment_path(@article, comment), class: "btn" %>
    <%= link_to "Edit Comment", edit_article_comment_path(@article, comment), class: "btn" %>
    <%= link_to "Delete Comment", article_comment_path(@article, comment), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class: "btn" %>
  </div>
<% end %>
