<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>

    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div style="color: red; font-style: italic; font-size: 12px">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, style: "resize: none" %>

    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div style="color: red; font-style: italic; font-size: 12px; margin-bottom: 10px">
        <%= message %>
      </div>
    <% end %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>
<%= link_to "Back to Articles", articles_path, class: "btn"%>